.footer_wrapper {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    padding-bottom: 74px;
}
.footer_wrapper::after {
    content: "";
    height: 1px;
    background-color: #000;
    position: absolute;
    bottom: 0px;
    right: 75px;
    left: 75px;
}
.footer_list h4 {
    font: 600 1.25rem 'GraphikBold';
    margin: 0 0 24px 0;
    padding: 0;
}
.footer_list li {
    font: 400 0.9375rem 'GraphikRegular';
    margin-bottom: 15px;
    color: #000;
    list-style: none;
    padding: 0;
}

.footer_list a {
    color: #000;
}
.widthLI {
    width: 139px;
}
.footer_list ul {
    margin: 0;
    padding: 0;
}
.footer_list {
    flex: 0 1 18%;
}
.footer_wrapper_list {
    display: flex;
    padding: 70px 0 0 0;
    column-gap: 4.9%;
    flex: 1 1 68%;
    flex-wrap: wrap;
    justify-content: center;
}
.footer-specialized {
    margin-bottom: -22px;
}
.footer_card {
    flex: 1 1 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.9% 5.2%;
}
.footer_card p {
    font: 400 1.25rem 'GraphikRegular';
    font-family: 'Graphik LC TT';
    max-width: 303px;
    max-height: 90px;
    overflow: hidden;
    line-height: 30px;
    margin: 0;
    margin: 0 0 22px 0;
    word-spacing: -3px;
    letter-spacing: 0px;

}
.footer_card span {
    font: 600 1.25rem 'GraphikBold';
    color: #000;
}
.footer_card h3 {
    font: 600 2.5rem 'GraphikBold';
    margin-bottom: 33px;
}
.footer_card img:nth-of-type(1) {
    margin-bottom: 31px;
}
.footer_card img:nth-of-type(2) {
    margin-bottom: 9px;
}
.footer_bottom {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 47px 77px 0 0;
}
.footer_bottom p, .for_bootom_span p {
    font: 400 0.75rem 'GraphikRegular';
    line-height: 15px;
    max-width: 250px;
    max-height: 30px;
    padding: 0;
    margin: 0;
}
.inlB {
    display: inline-block;
    margin-right: 9px;
}

.footer_hover {
    position: relative;
}
.footer_list a::after {
    content: '';
    position: absolute;
    left: 0; bottom: -2px;
    width: 100%; height: 2px;
    background-color: black;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s;

}
.footer_list a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

