.banner-image {
    max-width: 759px;
    max-height: 529px;
    position: absolute;
    right: 298px;
    top: 246px;
}
.banner {
    position: relative;
    top: 85px;
    left: 60px;
    margin-bottom: 262px;
}
.banner h1 {
    font: 600 4.0625rem "GraphikBold";
    font-style: normal;
    line-height: 70px;
    max-width: 552px;
    max-height: 210px;
    overflow: hidden;
    margin-bottom: 50px;
}
.banner_text {
    font: 400 1.5625rem 'GraphikRegular';
    line-height: 35px;
    max-width: 471px;
    max-height: 140px;
    overflow: hidden;
    margin-bottom: 70px;
}
.banner_button-try_it_free {
    padding: 22px 42px 22px 42px;
    border: 1px solid white;
    font: 600 1rem "GraphikBold";
    color: white;
    background-color: #FF6336;
    margin-right: 4px;
}
.banner_button-book_a_demo {
    padding: 21px 28px 21px 28px;
    border: 1px solid black;
    font: 600 1rem "GraphikBold";
    color: black;
}
.banner-note {
    font: 400 0.9375rem 'GraphikRegular';
}
.banner_button {
    margin-bottom: 52px;
}
.topic-text {
    display: flex;
    justify-content: center;
    padding: 0 0 0 110px;
}
.topic-text h2 {
    font: 600 3.125rem "GraphikBold";
    line-height: 60px;
    max-width: 720px;
    max-height: 120px;
    overflow: hidden;
    text-align: center;
    margin-bottom: 68px;
}
.company_image {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.company_info {
    background-color: #FF9C7D;
    padding: 68px 0 105px 0;
    margin-bottom: 90px;
}
.grathics_h3-one {
    font: 600 3.125rem "GraphikBold";
    line-height: 60px;
    max-width: 493px;
    max-height: 120px;
    overflow: hidden;
    margin: 0;
}
.graphics_one {
    display: flex;
    flex-direction: column;
    margin-top: -30px;
    margin-right: 29px;
    row-gap: 10px;
    padding-top: 20px;
    justify-content: center;
}
.container_main {
    display: flex;
    justify-content: space-between;
}
.container_main img {
    max-width: 632px;
    max-height: 632px;
}
.graphics_text-one {
    font: 400 1.25rem "GraphikRegular";
    line-height: 30px;
    max-width: 491px;
    max-height: 120px;
    overflow: hidden;
}
.start_now {
    font: 600 1.25rem "GraphikBold";
    overflow: hidden;
    color: black;
}
.grathics_h3-two {
    max-width: 379px;
    font: 600 3.125rem "GraphikBold";
    line-height: 60px;
    max-height: 120px;
    overflow: hidden;
    margin: 0;
}
.graphics_text-two {
    font: 400 1.25rem "GraphikRegular";
    line-height: 30px;
    max-width: 450px;
    max-height: 150px;
    overflow: hidden;
}
.graphics_two {
    display: flex;
    flex-direction: column;
    margin-right: 69px;
    row-gap: 10px;
    padding-top: 20px;
    justify-content: center;
}
.grathics_text-three {
    font: 400 1.25rem "GraphikRegular";
    line-height: 30px;
    max-width: 520px;
    max-height: 150px;
    overflow: hidden;
}
.graphics_three {
    display: flex;
    flex-direction: column;
    margin-right: 69px;
    row-gap: 10px;
    justify-content: center;
    margin-bottom: 21px;
}
.underline {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
}
.graphics_text-four {
    font: 400 1.25rem "GraphikRegular";
    line-height: 30px;
    max-width: 520px;
    max-height: 120px;
    overflow: hidden;
}
.graphics_four {
    display: flex;
    flex-direction: column;
    row-gap: 13px;
    justify-content: center;
    padding-bottom: 6px;
}
.card_info {
    display: flex;
    flex-wrap: wrap;
}
.card {
    max-width: 30%;
    width: 30%;
}
.card img {
    max-width: 160px;
    max-height: 120px;
    margin: auto;
}
.card p {
    max-height: 75px;
    overflow: hidden;
    max-width: 327px;
    text-align: center;
    font: 400 1.125rem "GraphikRegular";
    line-height: 25px;
    align-self: center;
}
.card_desc  {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    margin-top: 27px;
}
.wrapper-h3 {
    display: flex;
    justify-content: center;
}
.card {
    display: flex;
    flex-direction: column
}
.card_desc h4 {
    font: 600 1.5625rem "GraphikBold";
    text-align: center;
    margin: 0;
}
.card_h3 {
    font: 600 3.125rem "GraphikBold";
    margin: 0 0 84px 0;
}
.card-wrapper {
    background-color: #FFF8E4;
    padding: 125px 0 130px 0;
}
.card_info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 56px;
    column-gap: 7px;
}